.bg-img{
    background-image: url("https://img.freepik.com/free-photo/abstract-textured-backgound_1258-30709.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}